In [9]:
import json

with open ('player_data.json', 'r') as f:
    data = json.load(f)

In [10]:
stat_line=data['resultSets'][1]['rowSet']

In [11]:
headers=data['resultSets'][1]['headers']

In [12]:
import pandas

In [13]:
from pandas import DataFrame

In [14]:
'''
{'name:
    {stat: #,
     Stat2: #2},
 'name2':
    {stat: #,
     Stat2: #2},
}
'''

"\n{'name:\n    {stat: #,\n     Stat2: #2},\n 'name2':\n    {stat: #,\n     Stat2: #2},\n}\n"

In [15]:
players = {}
for player in stat_line:
    players[player[2]] = {}
    for i,header in enumerate(headers):
        players[player[2]][header] = player[i]

In [16]:
blzr_df = DataFrame(players).T

In [17]:
blzr_df.head()

,AST,BLK,BLKA,DD2,DREB,FG3A,FG3M,FG3_PCT,FGA,FGM,...,PLAYER_ID,PLAYER_NAME,PLUS_MINUS,PTS,REB,STL,TD3,TOV,W,W_PCT
Al-Farouq Aminu,1.7,0.6,0.4,8,4.9,4.3,1.5,0.361,8.8,3.6,...,202329,Al-Farouq Aminu,0.7,10.2,6.1,0.9,0,1.5,44,0.537
Allen Crabbe,1.2,0.2,0.2,0,2.3,3.5,1.4,0.393,8.4,3.8,...,203459,Allen Crabbe,0.5,10.3,2.7,0.8,0,0.8,43,0.531
Brian Roberts,0.8,0,0.1,0,0.5,0.7,0.3,0.4,2.4,1.1,...,203148,Brian Roberts,-2.1,2.9,0.6,0.1,0,0.3,11,0.524
CJ McCollum,4.3,0.3,1.1,2,2.7,5.9,2.5,0.417,17.9,8,...,203468,CJ McCollum,1.9,20.8,3.2,1.2,0,2.5,44,0.55
Chris Kaman,0.7,0.1,0.1,0,1.1,0.3,0.1,0.25,2.7,1.3,...,2549,Chris Kaman,-1.9,2.8,1.5,0.1,0,0.5,11,0.688

In [18]:
import matplotlib.pyplot as plt

In [ ]:
for stat in headers:
    plt.hist(blzr_df[stat])
    plt.show()